<div class="ud-component--header-v6--category-dropdown-button hidden-xs hidden-xxs" ng-non-bindable="">
  <div class="dropdown--open-on-hover dropdown--topics dropdown--open-on-hover dropdown"><a data-purpose="browse-courses-link"
      href="javascript:void(0)" id="header.browse" role="button" class="dropdown-toggle" aria-haspopup="true"
      aria-expanded="false"><span class="udi udi-explore"></span><span> Categories</span></a>
    <ul role="menu" class="dropdown-menu" aria-labelledby="header.browse">
      <li class="h100p">
        <ul class="dropdown-menu__list dropdown-menu__list--level-one" role="dialog" aria-label="Categories">
          <li class="menu__link" data-purpose="ver-development" role="presentation"><a href="https://www.udemy.com/courses/development/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-development"></span><span class="fx">Development</span><span data-purpose="menu-item-arrow"
                class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-business" role="presentation"><a href="https://www.udemy.com/courses/business/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-business"></span><span class="fx">Business</span><span data-purpose="menu-item-arrow"
                class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-it-and-software" role="presentation"><a href="https://www.udemy.com/courses/it-and-software/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-it-and-software"></span><span class="fx">IT &amp; Software</span><span
                data-purpose="menu-item-arrow" class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-office-productivity" role="presentation"><a href="https://www.udemy.com/courses/office-productivity/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-office-productivity"></span><span class="fx">Office Productivity</span><span
                data-purpose="menu-item-arrow" class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-personal-development" role="presentation"><a href="https://www.udemy.com/courses/personal-development/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-personal-development"></span><span class="fx">Personal Development</span><span
                data-purpose="menu-item-arrow" class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-design" role="presentation"><a href="https://www.udemy.com/courses/design/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-design"></span><span class="fx">Design</span><span data-purpose="menu-item-arrow"
                class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-marketing" role="presentation"><a href="https://www.udemy.com/courses/marketing/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-marketing"></span><span class="fx">Marketing</span><span data-purpose="menu-item-arrow"
                class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-lifestyle" role="presentation"><a href="https://www.udemy.com/courses/lifestyle/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-lifestyle"></span><span class="fx">Lifestyle</span><span data-purpose="menu-item-arrow"
                class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-photography" role="presentation"><a href="https://www.udemy.com/courses/photography/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-photography"></span><span class="fx">Photography</span><span data-purpose="menu-item-arrow"
                class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-health-and-fitness" role="presentation"><a href="https://www.udemy.com/courses/health-and-fitness/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-health-and-fitness"></span><span class="fx">Health &amp; Fitness</span><span
                data-purpose="menu-item-arrow" class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-music" role="presentation"><a href="https://www.udemy.com/courses/music/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-music"></span><span class="fx">Music</span><span data-purpose="menu-item-arrow"
                class="menu__arrow udi udi-next"></span></a></li>
          <li class="menu__link" data-purpose="ver-teaching-and-academics" role="presentation"><a href="https://www.udemy.com/courses/teaching-and-academics/"
              aria-expanded="false" role="button" target="_self" rel=" noopener noreferrer"><span data-purpose="menu-icon"
                class="menu__icon udi udi-academics"></span><span class="fx">Teaching &amp; Academics</span><span
                data-purpose="menu-item-arrow" class="menu__arrow udi udi-next"></span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>